.main {
    display: flex;
}

.photo {
    background-color: var(--orange);
    width: 50vw;
    height: auto;
    min-height: 50vh;
    min-width: 50vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutHero {
    height:400px;
    width: auto;
}

.text {
    color: var(--gray-color);
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.text h1 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.text p {
    font-size: 2rem;
    font-family: var(--secondary-font);
}