.main {
    display: flex;
}

.icon {
    background-color: var(--blue-color);
    width: 50vw;
    height: auto;
    min-height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    color:azure;
    min-width: 50vw;
}

.text {
    color: var(--gray-color);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text h1 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.text div{
    font-size: 2rem;
    font-family: var(--secondary-font);
}

.anchor {
    display: flex;
    flex-direction: column;
}

.anchor p {
    text-align: center;
    padding-bottom: 2rem;
}

.links {
    font-size: 7rem;
}

@media (max-width: 1300px) {
    .text {
        padding: 4rem;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .text p {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 10rem;
    }

    .links {
        font-size: 5rem;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .icon {
        width: 100vw;
    }
}