.nav {
    position: sticky;
    top: 0px;
    background-color: var(--darkest-blue);
}

.ulNav {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    top: 0px;
    background-color: var(--darkest-blue);
    list-style: none;
}

.navList {
    color: var(--white-color);
    background-color: transparent;
    font-size: 2rem;
    width: 10%;
    font-family: var(--primary-font);
}

.navAnchor{
    transition-duration: .4s;
    color: var(--white-color);
    text-decoration: none;
}

.navAnchor:hover {
    background-color: var(--lightOrange-color);
    cursor: pointer;
    font-size: 2.5rem;
}