:root {
  --blue-color: #86BBD8;
  --dark-blue: #33658A;
  --darkest-blue: #2F4858;
  --orange: #DB9583;
  --green: #BCD8C1;
  --gray-color: #707070;
  --black-color: #121212;
  --white-color: rgba(255, 255, 255, 87);
  --primary-font: Futura, sans-serif;
  --secondary-font: Baskerville, serif;
}

* {
  margin: 0;
}